
# Microsoft / Xbox OAuth Credentials
# You need to register an application in Azure Portal (https://portal.azure.com/#blade/Microsoft_AAD_RegisteredApps/ApplicationsListBlade)
# Redirect URI should be: http://127.0.0.1:5000/callback/xbox

MICROSOFT_CLIENT_ID=your_client_id_here
MICROSOFT_CLIENT_SECRET=your_client_secret_here
MICROSOFT_REDIRECT_URI=http://127.0.0.1:5000/callback/xbox
